$primary-color: #ffdf00;
@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif !important; }
}

@font-face {
    font-family: "Redacted";
    src: url("/fonts/Redaction_10-Regular.woff2") format("woff2");
}


@mixin animation {
  transition: 200ms ease-in-out all;
}

@mixin wavy-underline($color: mix($primary-color, #000, 60)) {
  text-decoration: underline wavy $color;
}

* {
  transition: 250ms ease-in-out all;
}

.email {
  font-weight: 800;
  font-size: 48pt;
  color: $primary-color;
}

#overture-description {
  font-weight: 600;
  color: $primary-color;
}

.hover-icon {
  opacity: 0.8;

  &:hover {
    opacity: 1.0;
  }
}

body {
  transition: 200ms ease-in-out all;
  color: black;
}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.clo,.opn,.pun{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.kwd,.tag,.typ{font-weight:700}.str{color:#060}.kwd{color:#006}.com{color:#600;font-style:italic}.typ{color:#404}.lit{color:#044}.clo,.opn,.pun{color:#440}.tag{color:#006}.atn{color:#404}.atv{color:#060}}pre{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

html, .nbar {
  background-color: black !important;
  scroll-behavior: smooth;
  width: 100vw !important;
  overflow-x: hidden;

}

span.mobile-text {
  font-weight: 600;
}

body {
  background: /*repeating-linear-gradient(
                  45deg,
                  mix($primary-color, #ffff, 30),
                  mix($primary-color, #ffff, 30) 20px,
                  mix($primary-color, #ffff, 10) 20px,
                  mix($primary-color, #ffff, 10) 40px
  )*/ black;
  min-height: 100vh;
}

.minute-text {
  font-style: italic;
  font-family: none;

}

.nbar {
  min-height: 120px;
  height: auto;
  border-bottom: 8px solid black;


  .collapse.show {

  }
  .nm {
    text-shadow: -1px -1px 0 #ffdf00,
      1px -1px 0 #ffdf00,
      -1px 1px 0 #ffdf00,
      1px 1px 0 #ffdf00;
  font-weight: 800;
  color: black !important;
    &:hover {
      color: $primary-color !important;
    }
  }

  .nm {
    font-style: italic;
    font-weight: 800;
    font-size: 64px;

  }

  .navbar-links {
    font-size: 20pt;

    svg {
      height: 18pt;
    }
  }

  #profile-image-container {
    height: 80px;
    width: 80px;
    background: #222222;
    border: 6px solid $primary-color;
    border-radius: 30px;
    background-image: url(https://www.superhack.org/images/IMG_6074.jpg);
    background-size: contain;
  }
}


    .btn {
      background: black !important;
      color: $primary-color;
      border: 2px solid $primary-color !important;
      box-shadow: 4px 4px 0px darken($primary-color, 10);
      font-weight: 900 !important;
      &:hover {
        background: $primary-color !important;
        color: black;
        box-shadow: 2px 2px 0px darken($primary-color, 10);
      }
    }

a {
  color: $primary-color !important;
}
.coffee {
  color: white !important;
  max-width: 720px;
  border-bottom: dashed white 2px;
  margin-bottom: 32px;
  .back {
    font-weight: 700;
    color: $primary-color !important;
  }
  strong {
    background: $primary-color;
    color: black;
  }
  blockquote {
    border-left: 4px solid white;
    padding: 0 8px;
  }
  code {
    color: #ff5100;
  }
  h1 {
    text-shadow: -1px -1px 0 $primary-color,
      1px -1px 0 $primary-color,
      -1px 1px 0 $primary-color,
      1px 1px 0 $primary-color;
  color: $primary-color;
    font-size: 36pt;
    text-transform: uppercase;
  }
  h2 {
    background: white;
    color: black;
    width: fit-content;
  }
  img {
    border: 2px solid $primary-color !important;
    box-shadow: 4px 4px 0px darken($primary-color, 10);
    max-height: 60vh;
    max-width: calc(100% - 16px);
    margin: 16px 8px;
  }
  .content {
    font-size: 14pt;
    font-family: "Redacted";
  }
}

.main-content {
  background-color: mix($primary-color, #fff, 40) !important;
  padding-top: 20px !important;

  .introducer {
    font-weight: 600;
    font-size: 32pt;
    margin: 32px 0px;
  }

  .card {
    border-radius: 16px !important;
    box-shadow: 8px 8px 0px mix($primary-color, black, 90);

    &:hover {
      box-shadow: 4px 4px 0px mix($primary-color, black, 70);
      cursor: pointer;
    }


    .btn::after {
      content: ' →';
    }

    margin: 16px;
    @include animation;
  }
}

#overture {
  font-size: 48pt;
    font-weight: 900;
    text-transform: uppercase;
    transform: scale(1, 0.8);
    background: rgb(253, 52, 172);
    color: black;
    width: fit-content;

}

.blogStub {
  display: block;
  background: black;
  color: white !important;
  border: 2px solid $primary-color;
  margin-bottom: 20px;
  box-shadow: 8px 8px 0px darken($primary-color, 10);
  &:hover {
    box-shadow: 4px 4px 0px darken($primary-color, 10);
    cursor: pointer;
  }
    .card-title {
      font-weight: 900 !important;
      font-size: 20pt;
      @include wavy-underline(black)
    }

  .card-footer-text {
    font-family: none;
    color: white;
    font-style: italic;
    font-weight: 800;
  }
}

.blogStub:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 0;
    z-index: -2;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffdf00' fill-opacity='0.53'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");

}


.full-width {
  width: 100%;
}

.stub.card {
  background: rgba(255, 255, 255, 0.2) !important;
  color: black !important;
  box-shadow: none !important;
}

a.no_underline {
  text-decoration: none;
}

.stub.hide.card {
  background: black;
}

.footer {
  background: darken($primary-color, 1);
  border-top: 8px solid black;

  .footer-content {
    padding: 32px 16px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
  }

  .nm {
    font-style: italic;
    font-weight: 800;
    font-size: 24pt;
    color: black !important;

    span.hbg {
      text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
      color: $primary-color;
    }
  }
}

.nav-link {
  color: $primary-color !important;
  border-bottom: 4px solid black;
  &:hover {
    border-bottom: 4px solid $primary-color;
  }

}

.disabled {
    opacity: 0.5 !important;
}

@media screen and (max-width: 31.9em) {
  .nbar {
    background: transparent !important;
    #profile-image-container {
      border-color: $primary-color;
    }
    .nav-link {
      padding: 4px 8px;
      margin-bottom: 4px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 16px;
    }

    svg {
      color: $primary-color !important;
    }
  }
}

